*{
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
	font-family: Arial;
	font-weight: bold;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	
}

body {
      
	  background: url(Brunbj%C3%B6rnar.jpg) no-repeat center center fixed;

	 
  }

.container{
	       background-color:rosybrown;
           width: 70%;
	       height: auto;
	       opacity: 0.8;
	       filter:alpha (opacity=70);
}

.div{
	background-color:rosybrown;
	height: 300px;
	width: 100%;
	border-bottom:2px solid green;

	

}

